main{
    font-family: 'Cursive' ;
    text-align: center;

}
p {
    color: rgb(74, 2, 77);

}
.about{
    background: rgb(120, 86, 148);
    padding: 8px; 
}
.about2{
    background: rgb(181, 169, 190);
    padding: 8px; 
}

.c1{
    color: darkmagenta;
    
}

img{
    height: 120px;
    width: 120px;
}
.column{
    float: left;
    margin-right: 16px;
    margin: 10px;
    width: 22%;
}

.card{
    box-shadow: 0px 2px 4px 0 #7e4e8af5;
padding: 0 16px 0 16px;
}


.c2{
    color: black;
    
}